<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/detalle.css" />
    </head>

    <body class="fondo">
        <h1 class="text-white" >Detalle producto</h1>
        <div  class="d-flex flex-wrap">
            <div  class="caja1">
                <img class="imagen" width="50%" src='@ViewData["foto"]'><br>
                <h3>@ViewData["nombre"]</h3>
                <p>@ViewData["precio"]</p>
                <p>@ViewData["detalle"]</p>
            </div>

            <div class="caja2">
                <a class="btn btn-primary text-white">Agregar</a>
                <br> 
                <br>
                <a class="btn btn-primary text-white">Seguir Comprando</a>
            </div>
        </div>
    </body>
</html>






