<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/detalle.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>

    <div class="fondo">
        <h1 class="text-black display-3" style="font-weight: bold;">Detalle producto</h1>
        <div  class="principal d-flex flex-wrap">

            <div  class="caja1 text-center">
                <img class="imagen" width="70%" height="60%" src='@ViewData["foto"]'><br>
                <p class="precio" style="font-size: 180%;"><strong>Precio: </strong>S/@ViewData["precio"]</p>
            </div>

            <div class="caja2 my-5">
                
                <h3><strong>Modelo: </strong>@ViewData["nombre"]</h3>
                <br>
                @{
                    string cadena = ViewData["detalle"].ToString();
                    string aux = "";
                    string caracter = "";
                    for (int i = 0; i < cadena.Length; i++) {
                        caracter = cadena.Substring(i,1);
                        if(caracter.Equals(",")){
                            <li class="listas">@aux</li>
                            aux = "";
                        }
                        else if((i+1) == cadena.Length){
                            <li class="listas">@aux</li>
                        }
                        else{
                            aux = aux + caracter;
                        }
                    }
                }
            </div>

            <div class="caja3 d-flex justify-content-between">
                <a href='/ventas/Agregar/@ViewData["id"]' class="btn btn-success text-white" style="width: 45%;"><span class="fas fa-check-circle"></span>Añadir al Carrito</a>
                <a class="btn btn-info text-white" style="width: 45%;">Seguir Comprando  <span class="fas fa-arrow-alt-circle-right"></span></a>
            </div>
        </div>
    </div>
</html>






