<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<h1 class="text-white" >Detalle producto</h1>

<div class="d-flex flex-wrap">
    <div class="caja1">
        <img class="imagen" width="50%" src='@ViewData["foto"]'><br>
        <h3>@ViewData["nombre"]</h3>
        <p>@ViewData["precio"]</p>
        <p>@ViewData["detalle"]</p>
    </div>

    <div class="caja2">
        <a class="btn btn-primary text-white">COMPRAR</a>
        <br>
        <br>
        <a class="btn btn-primary text-white">Seguir Comprando</a>
    </div>
</div>





