@model List<Producto>

<head>
    <link rel="stylesheet" href="~/css/estilos.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body class="fondo">
    <div class="Barra text-center input-group">
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Monitores"><p>Monitores</p></a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Graficas"><p>Graficas</p></a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Cases"><p>Cases</p></a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Procesadores"><p>Procesadores</p></a>
    </div>
    <h2 class="etiqueta mt-5 text-light font-weight-bold display-4">MONITORES</h2>

    <div class="input-group my-3 px-0" ><!--Caja de busqueda-->
        <input type="search" class="form-control rounded" placeholder="Buscar producto" aria-label="Busqueda" aria-describedby="search-addon" />
        <button type="button" class="buscar btn-danger">buscar</button>
    </div>
    
    <div class="">

        <div class="filtro my-3"><!--Cajas para el filtro-->
            <div class="cajas1" >
                <p class="form-control font-weight-bold" style="width: 50%;">Precio</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">S/200 - S/350</option>
                    <option value="2">S/350 - S/600</option>
                    <option value="3">S/600 - S/900</option>
                    <option value="4">S/900 a mas</option>
                </select>
            </div>

            <div class="cajas1" >
                <p class="form-control font-weight-bold" style="width: 50%;">Marca</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">Asus</option>
                    <option value="2">Dell</option>
                    <option value="3">BenQ</option>
                    <option value="4">Sony</option>
                    <option value="5">AOC</option>
                    <option value="6">LG</option>
                    <option value="7">HP</option>
                    <option value="8">Lenovo</option>
                    <option value="9">Acer</option>
                    <option value="10">Gigabyte</option>
                    <option value="11">SamSung</option>
                    <option value="12">Msi</option>
                </select>
            </div>

            <div class="cajas1" >
                <p class="form-control font-weight-bold " style="width: 50%;">Pantalla</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">15 pulgadas</option>
                    <option value="2">17 pulgadas</option>
                    <option value="3">19 pulgadas</option>
                    <option value="4">21 pulgadas</option>
                    <option value="5">27 pulgadas</option>
                    <option value="5">32 pulgadas</option>
                </select>
            </div>
            
            <div class="cajas1" >
                <p class="form-control font-weight-bold " style="width: 50%;">Resolucion</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">HD</option>
                    <option value="2">Full HD</option>
                    <option value="3">Ultra HD</option>
                    <option value="4">4K</option>
                    <option value="5">8K</option>
                </select>
            </div>
            
        </div>

          
        <div class="objetos">
            @foreach (var item in Model)
            { 
            <div class="product m-3">
                <img class="imagen" src="@item.Foto">
                <h4 class="text-center">@item.Nombre</h4>
                <p class="Titulo font-weight-bold">@item.Detalle</p>
                <p class="Precio text-danger text-center font-weight-bold">S/ @item.Precio</p>
                <a class="btn btn-primary" asp-controller="Pantallas" asp-action="Detalle">Ver producto</a>
                <!--
                <img class="imagen" src="~/img/monitores/ASUS ProArt Display PA247CV Full HD 23.8p.png">
                <p class="Titulo font-weight-bold">ASUS ProArt Display PA247CV Full HD 23.8p</p>
                <p class="Precio text-danger text-center font-weight-bold">S/1850.95</p>
                <a class="btn btn-primary" asp-controller="Pantallas" asp-action="Detalle">Ver producto</a>
                -->
            </div>
            }
            
        </div>
    </div>
</body>


    

