<div class="container row-1 my-4" style="background: #c00b0b">
    <h1 class="text-center text-white px-3">SÍGUENOS</h1>
</div>

<div class="container row-11">
    <div class="form-group row my-10" style="height: 50px;">
        <div class="container col-sm-2 mx-3 px-0">
            <img src="~/img/facebook.png" height="35px">
            <label class="control-label text-white" >Facebook</label>
        </div>
        <div class="container col-sm-7 p-0">
            <input class="form-control" type="text" style="width: 98%;" value="www.Facebook.com" readonly>
        </div>
        <div class="container col p-0">
            <a href="https://www.facebook.com/" target="_blank">Seguir</a>
        </div>
    </div>

    <div class="form-group row my-10" style="height: 50px;">
        <div class="container col-sm-2 mx-3 px-0">
            <img src="~/img/youtube.png" height="30px" width="35px">
            <label class="control-label text-white" >YouTube</label>
        </div>
        <div class="container col-sm-7 p-0">
            <input class="form-control" type="text" style="width: 98%;" value="www.YouTube.com" readonly>
        </div>
        <div class="container col p-0">
            <a href="https://www.youtube.com/" target="_blank">Seguir</a>
        </div>
    </div>

    <div class="form-group row my-10" style="height: 50px;">
        <div class="container col-sm-2 mx-3 px-0">
            <img src="~/img/twitter.png" height="35px">
            <label class="control-label text-white" >Twitter</label>
        </div>
        <div class="container col-sm-7 p-0">
            <input class="form-control" type="text" style="width: 98%;" value="www.Twitter.com" readonly>
        </div>
        <div class="container col p-0">
            <a href="https://www.twitter.com/" target="_blank">Seguir</a>
        </div>
    </div>

    <div class="form-group row my-10" style="height: 50px;">
        <div class="container col-sm-2 mx-3 px-0">
            <img src="~/img/instagram.png" height="35px">
            <label class="control-label text-white" >Instagram</label>
        </div>
        <div class="container col-sm-7 p-0">
            <input class="form-control" type="text" style="width: 98%;" value="www.Instagram.com" readonly>
        </div>
        <div class="container col p-0">
            <a href="https://www.instagram.com/" target="_blank">Seguir</a>
        </div>
    </div>
    
</div>