@{
    ViewData["Title"] = "CONTÁCTANOS";
}

<div class="container row-1 my-4" style="background: #c00b0b">
    <h1 class="text-center text-white px-3">@ViewData["Title"]</h1>
</div>
<div class="text-center text-white">
    <img class="mx-auto d-block" src="~/img/logo.png" style="height: 300px">
    <h1>Mensaje enviado con éxito</h1>
    <h2>Gracias por contactarnos</h2>
    <h4>Tus mensajes nos ayudan a mejorar. ☻☺</h4>
    <a class="text-white" asp-area="" asp-controller="Home" asp-action="Index">Volver a Menú</a>
</div>