<head>
    <link rel="stylesheet" href="~/css/estilos.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body class="fondo">
    <div class="text-center input-group">
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Monitores">Monitores</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Graficas">Graficas</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Cases">Cases</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Procesadores">Procesadores</a>
    </div>
    <h2 class="etiqueta mt-5 text-light font-weight-bold display-4">CASES</h2>

    <div class="">
        <div class="input-group my-3 px-0"><!--Caja de busqueda-->
            <input type="search" class="form-control rounded" placeholder="Buscar producto" aria-label="Busqueda" aria-describedby="search-addon" />
            <button type="button" class="buscar btn-danger">buscar</button>
        </div>

        <div class="filtro my-3"><!--Cajas para el filtro-->

            <div class="cajas1">
                <p class="form-control font-weight-bold" style="width: 50%;">Precio</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">S/100 - S/300</option>
                    <option value="2">S/300 - S/500</option>
                    <option value="3">S/500 - S/800</option>
                    <option value="4">S/800 a mas</option>
                </select>
            </div>
            
            <div class="cajas1">
                <p class="form-control font-weight-bold" style="width: 50%;">Marca</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">CoolerMaster</option>
                    <option value="2">Cougar</option>
                    <option value="3">NZXT</option>
                    <option value="4">Halion</option>
                    <option value="5">ReDragon</option>
                    <option value="6">LianLi</option>
                    <option value="7">AeroCool</option>
                </select>
            </div>
            
            <div class="cajas1">
                <p class="form-control font-weight-bold" style="width: 50%;">Tamaño</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">Mini ITX</option>
                    <option value="2">Micro ATX</option>
                    <option value="3">ATX</option>
                    <option value="4">E ATX</option>
                </select>
            </div>

        </div>

        <div class="objetos ">

            <div class="product m-3 ">
                <img class="imagen" src="~/img/cases/Case CoolerMaster H500P ARGB.png">
                <p class="Titulo font-weight-bold">Case CoolerMaster H500P ARGB</p>
                <p class="Precio text-danger text-center font-weight-bold">S/920.00</p>
                <button class="btn btn-primary">Ver producto</button>
            </div>

            <div class="product m-3 ">
                <img class="imagen" src="~/img/cases/Case CoolerMaster TD500 Mesh White.png">
                <p class="Titulo font-weight-bold">Case CoolerMaster TD500 Mesh White</p>
                <p class="Precio text-danger text-center font-weight-bold ">S/1300.50</p>
                <button class="btn btn-primary ">Ver producto</button>
            </div>

            <div class="product m-3 ">
                <img class="imagen" src="~/img/cases/Case Cougar CONQUER Mid Tower.png" >
                <p class="Titulo font-weight-bold">Case Cougar CONQUER Mid Tower</p>
                <p class="Precio text-danger text-center font-weight-bold ">S/1600.50</p>
                <button class="btn btn-primary ">Ver producto</button>
            </div>

            <div class="product m-3 ">
                <img class="imagen" src="~/img/cases/Case Cougar Turret Tempered Glass.png">
                <p class="Titulo font-weight-bold">Case Cougar Turret Tempered Glass</p>
                <p class="Precio text-danger text-center font-weight-bold ">S/650.85</p>
                <button class="btn btn-primary">Ver producto</button>
            </div>

            <div class="product m-3 ">
                <img class="imagen" src="~/img/cases/Case NZXT H510 Elite White & Black.png" width="100%" height="70%">
                <p class="Titulo font-weight-bold">Case NZXT H510 Elite White & Black</p>
                <p class="Precio text-danger text-center font-weight-bold mb-15">S/1430.00</p>
                <button class="Boton btn btn-primary mb-4">Ver producto</button>
            </div>

            <div class="product m-3 ">
                <img class="imagen" src="~/img/cases/Case NZXT Mini ITX CA-MANTW-W1.png" width="100%" height="70%">
                <p class="Titulo font-weight-bold">Case NZXT Mini ITX CA-MANTA-W1</p>
                <p class="Precio text-danger text-center font-weight-bold mb-15">S/550.00</p>
                <button class="Boton btn btn-primary mb-4">Ver producto</button>
            </div>
        </div>

    </div>
    
</body>