<head>
    <link rel="stylesheet" href="~/css/estilos.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body class="fondo">
    <div class="text-center input-group">
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Monitores">Monitores</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Graficas">Graficas</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Cases">Cases</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Procesadores">Procesadores</a>
    </div>
    <h2 class="mt-5 text-light font-weight-bold display-4">PROCESADORES</h2>

    <div class="">
        <div class="input-group my-3 px-0"><!--Caja de busqueda-->
            <input type="search" class="form-control rounded" placeholder="Buscar producto" aria-label="Busqueda" aria-describedby="search-addon" />
            <button type="button" class="btn btn-danger">buscar</button>
        </div>

        <div class="filtro my-3"><!--Cajas para el filtro-->

            <div class="cajas1">
                <p class="form-control font-weight-bold" style="width: 50%;">Precio</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">S/400 - S/900</option>
                    <option value="2">S/900 - S/1200</option>
                    <option value="3">S/1200 - S/1800</option>
                    <option value="4">S/1800 a mas</option>
                </select>
            </div>
            
            <div class="cajas1">
                <p class="form-control font-weight-bold" style="width: 50%;">Marca</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">Intel</option>
                    <option value="2">AMD</option>
                </select>
            </div>
            
            <div class="cajas1">
                <p class="form-control font-weight-bold" style="width: 50%;">Serie</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">K</option>
                    <option value="2">U</option>
                    <option value="3">X</option>
                    <option value="4">F</option>
                </select>
            </div>
            
            <div class="cajas1">
                <p class="form-control font-weight-bold" style="width: 50%;">Tipo</p>
                <select class="custom-select " required style="width: 50%;">
                    <option value="default">todos</option>
                    <option value="1">Celeron</option>
                    <option value="2">i3</option>
                    <option value="3">i5</option>
                    <option value="4">i7</option>
                    <option value="5">Athlon</option>
                    <option value="6">Apu</option>
                    <option value="7">Ryzen</option>
                </select>
            </div>

        </div>


        <div class="objetos row">
            <div class="prod col-4 mr-auto">
                <div class="product form-group ">
                    <img src="~/img/procesadores/Procesador Intel Core i3-10100 3.6Ghz LGA 1200.png" width="100%" height="70%">
                    <p class="Titulo font-weight-bold">Procesador Intel Core i3-10100 3.6Ghz LGA 1200</p>
                    <p class="Precio text-danger text-center font-weight-bold mb-15">S/590.54</p>

                    <button class="Boton btn btn-primary mb-4">Ver producto</button>

                </div>
            </div>

            <div class="prod col-4 mr-auto">
                <div class="product form-group ">
                    <img src="~/img/procesadores/Procesador Intel Core i5-8400 2.80 Ghz LGA 1151.png" width="100%" height="70%">
                    <p class="Titulo font-weight-bold">Procesador Intel Core i5-8400 2.80 Ghz LGA 1151</p>
                    <p class="Precio text-danger text-center font-weight-bold mb-15">S/890.05</p>
  
                    <button class="Boton btn btn-primary mb-4">Ver producto</button>
                </div>
            </div>

            <div class="prod col-4 mr-auto">
                <div class="product form-group ">
                    <img src="~/img/procesadores/Procesador Intel Core i5-10400 2.9 Ghz LGA 1200.png" width="100%" height="70%">
                    <p class="Titulo font-weight-bold">Procesador Intel Core i5-10400 2.9 Ghz LGA 1200</p>
                    <p class="Precio text-danger text-center font-weight-bold mb-15">S/820.00</p>
        
                    <button class="Boton btn btn-primary mb-4">Ver producto</button>
                </div>
            </div>

            <div class="prod col-4 mr-auto">
                <div class="product form-group ">
                    <img src="~/img/procesadores/Procesador Intel Core i7-10700K 5.1Ghz LGA 1200.png" width="100%" height="70%">
                    <p class="Titulo font-weight-bold">Procesador Intel Core i7-10700K 5.1Ghz LGA 1200</p>
                    <p class="Precio text-danger text-center font-weight-bold mb-15">S/1850.56</p>
              
                    <button class="Boton btn btn-primary mb-4">Ver producto</button>
                </div>
            </div>

            <div class="prod col-4 mr-auto">
                <div class="product form-group ">
                    <img src="~/img/procesadores/Procesador Ryzen 5-5600X 3.70Ghz AM4.png" width="100%" height="70%">
                    <p class="Titulo font-weight-bold">Procesador Ryzen 5-5600X 3.70Ghz AM4</p>
                    <p class="Precio text-danger text-center font-weight-bold mb-15">S/1700.00</p>
             
                    <button class="Boton btn btn-primary mb-4">Ver producto</button>
                </div>
            </div>

            <div class="prod col-4 mr-auto">
                <div class="product form-group ">
                    <img src="~/img/procesadores/Procesador Ryzen 7-5800X 3.80Ghz AM4.png" width="100%" height="70%">
                    <p class="Titulo font-weight-bold">Procesador Ryzen 7-5800X 3.80Ghz AM4</p>
                    <p class="Precio text-danger text-center font-weight-bold mb-15">S/2500.50</p>
           
                    <button class="Boton btn btn-primary mb-4 ">Ver producto</button>
                </div>
            </div>
        </div>

    </div>
    
</body>