.fondo{
  background: url("../img/f3.jpg") no-repeat center fixed;
  background-size: cover;
}

.prod{
  border: 2px solid;
}

.product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
  min-height: 100%;
}

.Titulo{
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  font-size: 100%;
}

.Precio{
  font-size: 100%;
}

.Boton{
  width: 100%;
  height: 100%;
  font-size: 70%;
}

.filtro{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cajas1{
  display: flex;
  flex-wrap: wrap;
  width: 22%;
  margin-left: 25px;
}

@media screen and (max-width: 500px){
  .cajas1{
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin-left: 10px;
  }

  .form-control{
    font-size: 10px;
    height: 80%;
  }
}

@media screen and (max-width: 800px) and (min-width: 500px){
  .cajas1{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-left: 10px;
  }

  .form-control{
    font-size: 12px;
    height: 80%;
  }
}
