.fondo{
  background: url("../img/f3.jpg") no-repeat center fixed;
  background-size: cover;
}

.prod{
  border: 2px solid;
}

.product{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}