@model Views_Administrador_Admin

<div>
    <div align="center"><img src="~/img/logo.png" alt="LOGO" width="300"></div>
</div>

<div>
    <div align="center"><img src="~/img/admin/triangulo.png" alt="LOGO" width="50">Producto</div>
    <div align="center"><img src="~/img/admin/triangulo.png" alt="LOGO" width="50">Cliente </div>
    <div align="center"><img src="~/img/admin/triangulo.png" alt="LOGO" width="50">  Ventas/Pedidos</div>
    <div align="center"><img src="~/img/admin/cua.png" alt="LOGO" width="50">Proveedores </div>
    <div align="center"><img src="~/img/admin/mand.png" alt="LOGO" width="50">Mensajes </div>
</div>

