@model Views_Administrador_Admin

<head >
    <link rel="stylesheet" href="~/css/estiloss.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>


<body class="fondo">

    <div class="logo">
        <div align="center"><img src="~/img/logo.png" alt="LOGO" width="300"></div>
    </div>

    <div class="bloque">
    
        <div class="cajas">
            <a  class="iconos nav-link text-white " asp-area="" asp-controller="Administrador" asp-action="producto" >
            <img class="imagen" src="~/img/admin/1.png" alt="LOGO" width="10%">  Producto</a>
        </div>

        <div class="cajas">
            <a  class="iconos nav-link text-white " asp-area="" asp-controller="Administrador" asp-action="cliente" >
            <img class="imagen" src="~/img/admin/2.png" alt="LOGO" width="10%">  Cliente</a>
        </div>

        <div class="cajas">
            <a  class="iconos nav-link text-white " asp-area="" asp-controller="Administrador" asp-action="ventas" >
            <img class="imagen" src="~/img/admin/3.png" alt="LOGO" width="10%">  Ventas</a>
        </div>

        <div class="cajas">
            <a  class="iconos nav-link text-white " asp-area="" asp-controller="Administrador" asp-action="proveedores" >
            <img class="imagen" src="~/img/admin/4.png" alt="LOGO" width="10%">  Proveedores</a>
        </div>

        <div class="cajas">
            <a  class="iconos nav-link text-white" asp-area="" asp-controller="Administrador" asp-action="mensajes" >
            <img class="imagen" src="~/img/admin/5.png" alt="LOGO" width="10%">  Mensajes</a>
        </div>
    </div>

</body>