@model Views_Administrador_Admin

<head>
    <link rel="stylesheet" href="~/css/estilos.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body class="fodoo">

<div>
    <div align="center"><img src="~/img/logo.png" alt="LOGO" width="300"></div>
</div>

<div class="bloque">
    <div ><img src="~/img/admin/1.png" alt="LOGO" width="50">Producto</div>
    <div ><img src="~/img/admin/2.png" alt="LOGO" width="50">Cliente </div>
    <div ><img src="~/img/admin/3.png" alt="LOGO" width="50">Ventas</div>
    <div ><img src="~/img/admin/4.png" alt="LOGO" width="50">Proveedores</div>
    <div ><img src="~/img/admin/5.png" alt="LOGO" width="50">Mensajes</div>
</div>




</body>