




<div class="text-center input-group">
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Administrador" asp-action="Admin">Inicio</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Administrador" asp-action="producto">Productos</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Administrador" asp-action="cliente">Clientes</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Administrador" asp-action="ventas">Ventas/Pedidos</a>
         <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Administrador" asp-action="proveedores">Proveedores</a>
          <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Administrador" asp-action="mensajes">Mensajes</a>
    </div>

<BR></BR>


        <H1> MENSAJES</H1>
    