@model List<Contacto>

<ul class="nav ">
  <li class="nav-item">
    <a class="nav-link active text-dark-outline-primary form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="Admin">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="producto">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="cliente">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark form-control col-autop" asp-area="" asp-controller="Administrador" asp-action="ventas">Ventas/Pedidos</a>
  </li>
  <li class="nav-item">
     <a class="nav-link text-dark form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="proveedores">Proveedores</a>
  </li>
  <li class="nav-item">
       <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Administrador" asp-action="mensajes">Mensajes</a>
  </li>

</ul>

<BR></BR>

<div class="p-3 mb-2 bg-danger text-white">MENSAJES</div>

<table class="table border table-dark">
    <tr>
        <th>Id</th>
        <th>Mensaje</th>
        <th>Fecha</th>
        <th>Acciones</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Mensaje</td>
            <td>@item.Fecha</td>
            <td>
              <form action="/Administrador/EliminarContacto" method="post" class="d-inline-block">
                <input type="hidden" name="id" value="@item.Id" />
                <button class="btn btn-danger">Eliminar</button>
              </form>
            </td>
        </tr>
    }
    @if (Model.Count == 0) {
        <tr>
            <td colspan="10" class="text-center">No se encontraron mensajes</td>
        </tr>
    }
</table>