



<ul class="nav ">
  <li class="nav-item">
    <a class="nav-link active text-dark-outline-primary form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="Admin">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="producto">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="cliente">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark form-control col-autop" asp-area="" asp-controller="Administrador" asp-action="ventas">Ventas/Pedidos</a>
  </li>
  <li class="nav-item">
     <a class="nav-link text-dark form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="proveedores">Proveedores</a>
  </li>
  <li class="nav-item">
       <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Administrador" asp-action="mensajes">Mensajes</a>
  </li>

</ul>





<BR></BR>



<div class="p-3 mb-2 bg-danger text-white">PROVEEDORES</div>



<BR>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card ">
          <div class="card-header">
            <h3>Lista de Proveedores 
              <a href="" class="btn btn-info float-right -6" data-toggle="modal" data-target="#agregarproveedores">Agregar</a>
          
          </div>

          <div class="card-body text-center">

            <div class="table-responsive table-hover">


              <table class="table table-bordered table-sm">

                <thead>
                  <tr>
                    <th>Id </th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Ciudad</th>
                    <th>Telefono</th>
                    <th>Correo electronico</th>
                    <th>opciones</th>
                  </tr>

                </thead>
                <tbody>

                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                     <td></td>
      
                   
                    <td>

                      <button class="btn btn-success" data-toggle="modal" data-target="#editarproveedores">Editar</button>
                      <button class="btn btn-danger" data-toggle="modal" data-target="#eliminar">Eliminar</button>


                    </td>

                  </tr>

            

              </table>
            </div>

            <div class="table-responsive">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end ">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>


            </div>


          </div>
        </div>

      </div>

    </div>



  
  <!---Modal agregar  proveedores  --->




  <div class="modal fade" id="agregarproveedores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Agregar proveedor </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="form-group row">

            <label class=" col-3"> Nombre </label>
            <div class="col-9">
              <input type="text" name="nombre" itemid="idnombre" class="form-control" value="">
            </div>
          </div>

          <div class="form-group row">
            <label class=" col-3">Direccion </label>
            <div class="col-9">
              <input type="text" name="direccion" itemid="iddireccion" class="form-control" value="">
            </div>
          </div>

          <div class="form-group row">
            <label class=" col-3">Ciudad </label>
            <div class="col-9">
              <input type="text" name="ciudad" itemid="idciudad" class="form-control" value="">
            </div>
          </div>

          <div class="form-group row">
            <label class=" col-3">Telefono </label>
            <div class="col-9">
              <input type="text" name="telefono" itemid="idtelefono" class="form-control" value="">
            </div>
          </div>
            <div class="form-group row">
            <label class=" col-3">Correo electronico </label>
            <div class="col-9">
              <input type="text" name="correo" itemid="idcorreo" class="form-control" value="">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancelar</button>
            <button type="button" class="btn btn-success">Aceptar</button>
          </div>
        </div>
      </div>
    </div>

  </div>



  
  <!-- Modal Editar prooveedores -->




  <div class="modal fade" id="editarproveedores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Datos del producto </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
    
          <div class="form-group row">
            <label for="categoria" class=" col-3">Nombre </label>
            <div class="col-9">
              <input type="text" name="nombre" itemid="idnombre" class="form-control" value="">
            </div>
          </div>

          <div class="form-group row">
            <label class=" col-3">Direccion </label>
            <div class="col-9">
              <input type="text" name="direccion" itemid="iddireccion" class="form-control" value="">
            </div>
          </div>

          <div class="form-group row">
            <label class=" col-3">Ciudad </label>
            <div class="col-9">
              <input type="text" name="ciudad" itemid="idciudad" class="form-control" value="">
            </div>
          </div>

          <div class="form-group row">
            <label class=" col-3">Telefono </label>
            <div class="col-9">
              <input type="text" name="telefono" itemid="idtelefono" class="form-control" value="">
            </div>
          </div>

           <div class="form-group row">
            <label class=" col-3">Correo </label>
            <div class="col-9">
              <input type="text" name="correo" itemid="idcorreo" class="form-control" value="">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancelar</button>
            <button type="button" class="btn btn-success">Aceptar</button>
          </div>
        </div>
      </div>
    </div>

  </div>






  </div>