@model Producto

<h1>REGISTRAR PRODUCTO</h1>

<form action="" method="post">
    <div class="form-group">
        <label asp-for="Nombre">Nombre del Producto</label>
        <input asp-for="Nombre" class="form-control" placeholder="ingresar nombre del producto...">
    </div>

    <div class="form-group">
        <label asp-for="Foto">Foto del Producto</label>
        <input asp-for="Foto" class="form-control" placeholder="ingresar url de la imagen...">
    </div>

    <div class="form-group">
        <label asp-for="Detalle">Detalle del Producto</label>
        <input asp-for="Detalle" class="form-control" placeholder="ingresar detalle del producto...">
    </div>

    <div class="form-group">
        <label asp-for="Precio">Precio</label>
        <input asp-for="Precio" class="form-control" placeholder="ingresar precio del producto...">
    </div>

    <div class="form-group">
        <label asp-for="Categoria">Categoria</label>
        <input asp-for="Categoria" class="form-control" placeholder="ingresar categoria del producto...">
    </div>

    <button class="btn btn-primary">Registrar</button>
</form>