



<ul class="nav ">
  <li class="nav-item">
    <a class="nav-link active text-dark-outline-primary form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="Admin">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="producto">Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="cliente">Clientes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark form-control col-autop" asp-area="" asp-controller="Administrador" asp-action="ventas">Ventas/Pedidos</a>
  </li>
  <li class="nav-item">
     <a class="nav-link text-dark form-control col-auto " asp-area="" asp-controller="Administrador" asp-action="proveedores">Proveedores</a>
  </li>
  <li class="nav-item">
       <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Administrador" asp-action="mensajes">Mensajes</a>
  </li>

</ul>





<BR></BR>



<div class="p-3 mb-2 bg-danger text-white">VENTAS/Pedidos </div>

<body>




<ul class="nav nav-tabs" >
  <li class=" nav-item active "><a class= " nav-link text-dark-outline-primary form-control col-auto"  href="#ventas" data-toggle="tab">VENTAS</a></li>
  <li class=" nav-item  "><a class= "nav-link text-dark-outline-primary form-control col-auto"  href="#pedidos" data-toggle="tab">Pedidos</a></li>
</ul>


<div class="tab-content" >
  <div class="tab-pane fade " id="ventas" >
    
    hola</div>
  <div class="tab-pane fade" id="pedidos" >
    
    
    negros </div>
</div>

</body>



