<div class="container row-1 my-4" style="background: #c00b0b">
    <h1 class="text-center text-white px-3">¿QUIÉNES SOMOS?</h1>
</div>

<div class="container row-11 my-2">
    <div class="form-group container row-1 my-3">
        <h2 class="container text-white">
            Como adelanto, somos tu mejor opción!
        </h2>
    </div>

    <div class="form-group container row-1">
        <p class="container text-white text-justify"> <strong>MonoGaminStore</strong> es una empresa que surge con la idea de mejorar el mercado de productos informáticos, iniciamos con productos 
            exclusivos para el área de videojuegos en pc, y debido a la gran acogida del público, decidimos aumentar nuestro mercado 
            para brindarte el mejor producto y servicio al mejor precio, trabajando con las marcas más reconocidas en calidad de hardware.
        </p>
        <p class="container text-white text-justify">
            <strong>Somos</strong> una empresa líder en venta de accesorios y componentes de computadora.
        </p>
        <p class="container text-white text-justify">
            El nombre <strong>MonoGamingStore</strong> surge por un historial de proyectos previos relacionados a temas de 
            teoría de la evolución humana y monos, hechos por los creadores de la tienda.
        </p>
    </div>

    <div class="container d-flex flex-wrap form-group row-2 my-5 mx-0">
        <div class="container border border-white col-sm-3 mx-0">
            <label class="container text-center text-white">MISIÓN</label>
            <p class="container text-white text-justify">
                Somos una empresa líder en la venta de accesorios y componentes para computadora a nivel nacional, nos caracterizamos por 
                mantener una gran calidad, comprobada y sostenida por nuestros clientes.
            </p>
        </div>
        <div class="container border border-white col-sm-3 mx-0">
            <label class="container text-center text-white">VISIÓN</label>
            <p class="container text-white text-justify">
                Ser la empresa líder a nivel nacional e internacional en venta de accesorios y componentes de computadora, manteniendo la 
                calidad y estándar que nos ubica como empresa top en el sector.
            </p>
        </div>
        <div class="container border border-white col-sm-3 mx-0">
            <label class="container text-center text-white">VALORES</label>
            <p class="container text-white text-justify">
                Comunicación clara y honesta. <br>
                Responsabilidad. <br>
                Integridad. <br>
                Compromiso con el cliente.
            </p>
        </div>
        <div class="container border border-white col-sm-3 mx-0">
            <label class="container text-center text-white">OBJETIVOS</label>
            <p class="container text-white text-justify">
                Ser líderes en el mercado. <br>
                Ofrecer los mejores productos. <br>
                Brindar el mejor servicio. <br>
            </p>
        </div>
    </div>

    <div class="container row-1 mx-0 my-1">
        <div class="row-12">
            <h2 class="container text-center text-white"> Nuestro<strong> MonoEquipo</strong></h2>
            <img class="mx-auto d-block" src="~/img/logo.png" height="60px">
        </div>
    </div>

    <div class="container d-flex flex-wrap form-group row-2 my-8 mx-0">

        <div class="col container border border-white">
            <div class="container form-group">
                <img class="mx-auto d-block" src="~/img/Gamero.jpg" height="100px" width="80px">
            </div>
            <div class="container form-group">
                <p class="container text-center text-white">
                    GAMERO MIRANDA, Jorge Luis
                </p>
            </div>
        </div>

        <div class="col container border border-white">
            <div class="container form-group">
                <img class="mx-auto d-block" src="~/img/Rodriguez.jpg" height="100px" width="80px">
            </div>
            <div class="container form-group">
                <p class="container text-center text-white">
                    RODRÍGUEZ CCAMA, Bryan Oscar
                </p>
            </div>
        </div>
        <div class="col container border border-white">
            <div class="container form-group">
                <img class="mx-auto d-block" src="~/img/Berroa.jpeg" height="100px" width="80px">
            </div>
            <div class="container form-group">
                <p class="container text-center text-white">
                    BERROA ATAYUPANQUI, Jonathan Cristhian
                </p>
            </div>
        </div>
        <div class="col container border border-white">
            <div class="container form-group">
                <img class="mx-auto d-block" src="~/img/Oquendo.jpeg" height="100px" width="80px">
            </div>
            <div class="container form-group">
                <p class="container text-center text-white">
                    OQUENDO HUANCA, Jose
                </p>
            </div>
        </div>
    </div>
</div>