<head >
    <link rel="stylesheet" href="~/css/estiloss.css">
</head>


<body class="fondo">

    <div class="logo">
        <div align="center"><img src="~/img/logo.png" alt="LOGO" width="300"></div>
    </div>

    <div class="bloque">
    
        <div class="cajas">
            <a  class="iconos nav-link text-white " asp-area="" asp-controller="Administrador" asp-action="producto" >
            <img class="imagen" src="~/img/admin/1.png" alt="LOGO" width="10%">  Producto</a>
        </div>

        <div class="cajas">
            <a  class="iconos nav-link text-white " asp-area="" asp-controller="Administrador" asp-action="cliente" >
            <img class="imagen" src="~/img/admin/2.png" alt="LOGO" width="10%">  Cliente</a>
        </div>

        <div class="cajas">
            <a  class="iconos nav-link text-white" asp-area="" asp-controller="Administrador" asp-action="mensajes" >
            <img class="imagen" src="~/img/admin/5.png" alt="LOGO" width="10%">  Mensajes</a>
        </div>
    </div>

</body>