@model List<Contacto>

<div class="d-flex p-0 m-0" style="list-style: none; padding-inline-start: 0%;">
  <li class="opc nav-item col-3 p-0 text-center">
    <a class=" nav-link text-dark form-control btn btn-outline-light" asp-area=""
      asp-controller="Administrador" asp-action="Admin" style="box-shadow: red 0px 0px 2px 2px;  font-size: 200%; font-weight: bold;">Inicio</a>
  </li>
  <li class="nav-item col-3 p-0 text-center">
    <a class="nav-link text-dark form-control btn btn-outline-light"  asp-area="" asp-controller="Administrador"
      asp-action="producto" style="box-shadow: red 0px 0px 2px 2px;  font-size: 200%; font-weight: bold;">Productos</a>
  </li>
  <li class="nav-item col-3 p-0 text-center">
    <a class="nav-link text-dark form-control btn btn-outline-light" asp-area="" asp-controller="Administrador"
      asp-action="cliente" style="box-shadow: red 0px 0px 2px 2px;  font-size: 200%; font-weight: bold;">Clientes</a>
  </li>
  <li class="nav-item col-3 p-0 text-center">
    <a class="nav-link text-white form-control btn btn-outline-light" asp-area="" asp-controller="Administrador"
      asp-action="mensajes" style="box-shadow: red 0px 0px 2px 2px; font-size: 200%; font-weight: bold;">Mensajes</a>
  </li>

</div>


<BR></BR>


@* <div style="background: url('../img/admin/fondo_prod2.jpg') no-repeat center fixed; background-size: cover; padding: 8%;"> *@
  
<div class="text-center container row-1 my-4" style="background: #c00b0b">
  <h1 class="text-white" style="margin-bottom: 2%;">Lista de Mensajes</h1>
</div>
<img class="mx-auto d-block" src="~/img/logo.png" height="60px">
  <table class="table table-dark border">
      <tr>
          <th>Id</th>
          <th>Mensaje</th>
          <th>Fecha</th>
      </tr>
      @foreach (var item in Model)
      {
          <tr>
              <td>@item.ContactoId</td>
              <td>@item.Mensaje</td>
              <td>@item.Fecha</td>

              <td>
                  <form action="/Administrador/EliminarContacto" method="post" class="d-inline-block">
                      <input type="hidden" name="id" value="@item.ContactoId" />
                      <button class="btn btn-danger">Eliminar</button>
                  </form>
              </td>
          </tr>
      }
      @if (Model.Count == 0) {
          <tr>
              <td colspan="12" class="text-center">
                  <h3> Aun no existen mensajes registrados</h3>
              </td>
          </tr>
      }
  </table>
@* </div> *@

