@model Producto
@{
    ViewData["Title"] = "REGISTRAR PRODUCTO";
}
<div class="container row-1 my-4" style="background: #c00b0b">
    <h1 class="text-center text-white px-3">@ViewData["Title"]</h1>
</div>

<img class="mx-auto d-block" src="~/img/logo.png" style="height: 100px">
<form class="text-white" action="" method="post">
    <div class="form-group">
        <label asp-for="Nombre">Nombre del Producto</label>
        <input asp-for="Nombre" class="form-control" placeholder="ingresar nombre del producto...">
    </div>

    <div class="form-group">
        <label asp-for="Foto">Foto del Producto</label>
        <input asp-for="Foto" class="form-control" placeholder="ingresar url de la imagen...">
    </div>

    <div class="form-group">
        <label asp-for="Detalle">Detalle del Producto</label>
        <input asp-for="Detalle" class="form-control" placeholder="ingresar detalle del producto...">
    </div>

    <div class="form-group">
        <label asp-for="Precio">Precio</label>
        <input asp-for="Precio" class="form-control" placeholder="ingresar precio del producto...">
    </div>

    <div class="form-group">
        <label asp-for="Categoria">Categoria</label>
        <select class="custom-select form-control" asp-for="Categoria">
            <option value="Monitor">Monitor</option>
            <option value="Grafica">Grafica</option>
            <option value="Case">Case</option>
            <option value="Procesador">Procesador</option>
            <option value="Ram">Ram</option>
            <option value="Placa Madre">Placa Madre</option>
        </select>
    </div>

    <button class="btn btn-primary">Registrar</button>
</form>