@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center input-group">
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Monitores">Monitores</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Graficas">Graficas</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Cases">Cases</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Procesadores">Procesadores</a>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="row-1 my-4" style="background: #c00b0b">
        <h1 class="text-center text-white px-3"><strong>MonoPromociones</strong> Únicas</h1>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class=" mx-auto carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/corei9.jpg" alt="First slide" style="max-width: 100%; height: auto;">
        </div>
        <div class="carousel-item">
            <img src="~/img/teclado7.jpg" alt="Second slide" style="max-width: 100%; height: auto;">
        </div>
        <div class="carousel-item">
            <img src="~/img/pc1.jpg" alt="Third slide" style="max-width: 100%; height: auto;">
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <h2 class="text-center text-white px-3">Lleva uno de nuestros <strong>MonoPacks</strong> ahora!</h2>
    <img class="mx-auto d-block" src="~/img/logo.png" height="60px">
</div>

<div class="container d-flex flex-wrap form-group row-2 my-8 mx-0">
    <div class="col container border border-dark bg-light">
        <div class="product form-group text-center">
            <img class="mx-auto d-block" src="~/img/combo1.png" height="130px" width="160px">
            <p class="text-dark text-center font-weight-bold">Pack 1</p>
            <button class="btn btn-primary ">Detalle</button>
        </div>
    </div>

    <div class="col container border border-dark bg-light">
        <div class="product form-group text-center">
            <img class="mx-auto d-block" src="~/img/combo2.png" height="130px" width="160px">
            <p class="text-dark text-center font-weight-bold">Pack 2</p>
            <button class="btn btn-primary">Detalle</button>
        </div>
    </div>

    <div class="col container border border-dark bg-light">
        <div class="product form-group text-center">
            <img class="mx-auto d-block" src="~/img/combo3.png" height="130px" width="160px">
            <p class="text-dark text-center font-weight-bold">Pack 3</p>
            <button class="btn btn-primary">Detalle</button>
        </div>
    </div>

    <div class="col container border border-dark bg-light">
        <div class="product form-group text-center">
            <img class="mx-auto d-block" src="~/img/combo4.png" height="130px" width="160px">
            <p class="text-dark text-center  font-weight-bold">Pack 4</p>
            <button class="btn btn-primary">Detalle</button>
        </div>
    </div>
    
    <!--
    <audio src="~/music/cepillin.m4a" loop="true" autoplay="true" ></audio>
    -->
</div>