@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center input-group">
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Monitores">Monitores</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Graficas">Gráficas</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Cases">Cases</a>
        <a class="nav-link text-dark form-control col-auto" asp-area="" asp-controller="Pantallas" asp-action="Procesadores">Procesadores</a>
</div>

<div class="text-center">
    
</div>
