<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MonoGamingStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/tabla.css" />
    

</head>
<body >
    <div>
    <caption>
        CARRITO DE COMPRAS
    </caption>
            <table border="2">
            
                    <thead>
                        <tr>
                        <th class="text-center mr-5">Imagen</th>
                        <th class="text-center p-2">cantidad</th>
                        <th class="text-center m-5">Descripcion</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>

            <td><div class="justify-content-center p-2"><img src="~/img/producto1.jpg" alt="..." width="100%" height="150px">
            </div> </td>
    <td> <div class="d-flex align-items-center btn-group-vertical"><select class="form-select form-select-lg mb-4 "
        id="selector-1" onchange="multiplicador1();" aria-label=".form-select-lg example">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select></div>
</td class="align-content-center">
    <td><div class="row justify-content-start pl-2">
                   
        <div class="align-items-lg-center p-2">
            <br>
                SUBTOTAL
                <br>
                ENVIO
                <br>
                TOTAL
        </div>
        <div class="justify-content-center p-2">
            
                <br>
                <span id="precio-1">s/.90.00</span>
                <br>
                GRATIS
                <br>
                <span id="Pfinal-1">s/.100.00 (incluye IGV)</span>
                <h1></h1>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" id="btn1" class="btn btn-warning">Eliminar</button>
                </div>
        </div>
    </div>
</td>
</tr>
<td><div class="justify-content-center p-2"><img src="~/img/producto1.jpg" alt="..." width="100%" height="150px">
</div> </td>
<td> <div class="d-flex align-items-center btn-group-vertical"><select class="form-select form-select-lg mb-4 "
    id="selector-1" onchange="multiplicador1();" aria-label=".form-select-lg example">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select></div>
</td class="align-content-center">
<td><div class="row justify-content-center">
               
    <div class="col-4">
        <div><br>
            SUBTOTAL
            <br>
            ENVIO
            <br>
            TOTAL
        </div>
    </div>
    <div class="justify-content-center pr-4">
        <div>
            <br>
            <span id="precio-1">s/.90.00</span>
            <br>
            GRATIS
            <br>
            <span id="Pfinal-1">s/.100.00 (incluye IGV)</span>
            <h1></h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" id="btn1" class="btn btn-warning">Eliminar</button>
            </div>
        </div>
    </div>
</div>
</td>
</tr>
<td><div class="justify-content-center p-2"><img src="~/img/producto1.jpg" alt="..." width="100%" height="150px">
</div> </td>
<td> <div class="d-flex align-items-center btn-group-vertical"><select class="form-select form-select-lg mb-4 "
    id="selector-1" onchange="multiplicador1();" aria-label=".form-select-lg example">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select></div>
</td class="align-content-center">
<td><div class="row justify-content-center">
               
    <div class="col-4">
        <div><br>
            SUBTOTAL
            <br>
            ENVIO
            <br>
            TOTAL
        </div>
    </div>
    <div class="justify-content-center pr-4">
        <div>
            <br>
            <span id="precio-1">s/.90.00</span>
            <br>
            GRATIS
            <br>
            <span id="Pfinal-1">s/.100.00 (incluye IGV)</span>
            <h1></h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" id="btn1" class="btn btn-warning">Eliminar</button>
            </div>
        </div>
    </div>
</div>
</td>
</tr>
</tbody>
            </table>
        </div>
            <!-- 

        <div class="text-align-center" width="100%" height="50px">
    
        
        </div>
        <div class="row">

            <br>
            <div>
                
            </div>
        </div>
        <div class="container-2">
            <div class="row">
                <div class="text-align-center" width="100%" height="50px"></div>
                <div class="justify-content-center"><img src="~/img/producto1.jpg" alt="..." width="100%"
                        height="150px">
                </div>
                <br>
                <div>
                    <div class="row justify-content-center">
                        <div class="d-flex align-items-center"><select class="form-select form-select-lg mb-4 "
                                id="selector-2" onchange="multiplicador1();" aria-label=".form-select-lg example">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select></div>
                        <div class="col-4">
                            <div><br>
                                SUBTOTAL
                                <br>
                                ENVIO
                                <br>
                                TOTAL
                            </div>
                        </div>
                        <div class="justify-content-center">
                            <div>
                                <br>
                                <span id="precio-2">s/.90.00</span>
                                <br>
                                GRATIS
                                <br>
                                <span id="Pfinal-2">s/.100.00 (incluye IGV)</span>
                                <h1></h1>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="button" id="btn1" class="btn btn-warning">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-3">
                <div class="row">
                    <div class="text-align-center" width="100%" height="50px"></div>
                    <div class="justify-content-center"><img src="~/img/producto1.jpg" alt="..." width="100%"
                            height="150px">
                    </div>
                    <br>
                    <div>
                        <div class="row justify-content-center">
                            <div class="d-flex align-items-center"><select class="form-select form-select-lg mb-4 "
                                    id="selector-3" onchange="multiplicador1();" aria-label=".form-select-lg example">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select></div>
                            <div class="col-4">
                                <div><br>
                                    SUBTOTAL
                                    <br>
                                    ENVIO
                                    <br>
                                    TOTAL
                                </div>
                            </div>
                            <div class="justify-content-center">
                                <div>
                                    <br>
                                    <span id="precio-3">s/.90.00</span>
                                    <br>
                                    GRATIS
                                    <br>
                                    <span id="Pfinal-3">s/.100.00 (incluye IGV)</span>
                                    <h1></h1>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button type="button" id="btn1" class="btn btn-warning">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 -->
                <div class="row justify-content-center pt-4">
                    <button type="button" id="btn2" class="btn btn-success ml-2">Comprar</button><a href="https://localhost:5001/">
                    <button type="button" id="btn3" href="~/home/Index.cshtml"class="btn btn-warning ml-3">Seguir Comprando</button> </a>
                </div>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></script>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
                <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
                <script src="~/js/Ventas.js"></script>
                <script src="~/js/alerta.js"></script>
</body>
</html>