<div class="row-1 my-4" style="background: #c00b0b">
    <h1 class="text-center text-white px-3">CONTÁCTANOS</h1>
</div>

<div class="row-11">
    <div class="form-group row m-2">
        <div class="container col-sm-1 mx-3 px-0">
            <label class="control-label text-white" >Correo</label>
        </div>
        <div class="container col-sm-10 p-0">
            <input class="form-control" type="text" style="width: 60%;" value="MonoGamingStore@gmail.com" readonly>
        </div>
    </div>

    <div class="form-group row m-2">
        <div class="container col-sm-1 mx-3 px-0">
            <label class="control-label text-white" >Teléfonos</label>
        </div>
        <div class="container col-sm-10">
            <div class="row my-2">
                <input class="form-control my-1" type="text" style="width: 60%;" value="950 709 890" readonly>    
            </div>
            <div class="row my-2">
                <input class="form-control my-1" type="text" style="width: 60%;" value="991 953 469" readonly>
            </div>
        </div>
    </div>

    <div class="form-group row m-2">
        <div class="container col-sm-1 mx-3 px-0">
            <label class="control-label text-white" >Dirección</label>
        </div>
        <div class="container col-sm-10">
            <div class="row">
                <input class="form-control my-1" type="text" style="width: 60%;" value="Urb. Las Cucardas - Paucarpata - Arequipa" readonly>
            </div>
            <div class="row my-2 z-depth-1-half map-container-5" style="height: 300px">
                <iframe class="my-1" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1913.5016895700317!2d-71.51127981648163!3d-16.424654779369813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424b9e57f30aef%3A0xa3cec09ddf11cabf!2sUrbanizacion%20Las%20Cucardas!5e0!3m2!1ses-419!2spe!4v1618988456732!5m2!1ses-419!2spe"
                width="60%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>